<div class="container-fluid">
    <div class="row" cg-busy="busyPromise">
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
            <h1>Register organization</h1>

            
                
<!--
In order to get an organization on to the Maritime Cloud it needs to perform a signup process. The process is currently manual but will be replaced with an automatic one in the future.
<BR/>
<BR/>
To sign up - Send an email to Tomas Christensen at <a href="mailto:tgc@dma.dk" target="_blank">tgc@dma.dk</a> with the name of your organization and whom will be the main administrator.
<BR/>
<BR/>
<a href="http://developers.maritimecloud.net/" target="_blank">More info about the Signup process and the Maritime Cloud</a>
                
            </p>

 
    -->
    
        
        <p>Fill out the form below to register a new organization for the Maritime Cloud.<br/>
        <i><b>Note</b> that the approval is currently a manual process. There will be send an email upon the approval.</i>
        </p>
        
        <div ng-show="message" class="alert alert-info">{{message}}</div>
        <hr>
        <div ng-show="alertMessages" class="alert alert-danger">
            <span ng-repeat="msg in alertMessages">{{msg}}<br /></span>
        </div>
        
        <form ng-show="!registered" role="form" name="form">
            <div class="form-group" ng-class="{ 'has-error' : form.name.$invalid && !form.name.$pristine }">
                <label for="name" class="control-label">Name</label>
                <input type="text" required class="form-control" id="name" name="name" placeholder="Enter the name of the organization" ng-model="organization.name"
                       autocomplete='off' spellcheck='false'>
                <p ng-show="form.name.$invalid && !form.name.$pristine" class="help-block">Name is required.</p>
            </div>
                        
            <div class="form-group">
                <label for="url" class="control-label">Url</label>
                <input type="text" class="form-control" id="url" name="url" placeholder="Enter the url of the organization" ng-model="organization.url"
                       autocomplete='off' spellcheck='false'>
            </div>
                        
            <div class="form-group">
                <label for="address" class="control-label">Address</label>
                <input type="text" class="form-control" id="address" name="address" placeholder="Enter the address of the organization" ng-model="organization.address"
                       autocomplete='off' spellcheck='false'>
            </div>
                        
            <div class="form-group">
                <label for="country" class="control-label">Country</label>
                <input type="text" class="form-control" id="country" name="country" placeholder="Enter the country of the organization" ng-model="organization.country"
                       autocomplete='off' spellcheck='false'>
            </div>
            
            <div class="form-group" ng-class="{ 'has-error' : form.email.$invalid && !form.email.$pristine }">
                <label for="email" class="control-label">Email</label>
                <input type="email" required class="form-control" id="email" name="email" placeholder="Enter the email of the organization" ng-model="organization.email"
                       autocomplete='off' spellcheck='false'>
                <p ng-show="form.email.$invalid && !form.email.$pristine" class="help-block">Email not valid.</p>
            </div>
                        
            I hereby accept, that I have the legal rights to act on behalf of the Organization provided above.
            <div>
                <button type="submit" class="btn btn-success" ng-disabled="form.$invalid" ng-click="submit()">Register</button>
                <button class="btn btn-default" ui-sref='public.landingpage'>Cancel</button>
            </div> 
            <br/>
        </form>
    </div>
</div>
</div>