<div class="container-fluid">

    <div class="row">

        <!--<hr class="soften">-->
        <div class="vertical-center">

            <!-- Primary marketing message -->
            <div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-sm-12" style="text-align: center">

                <p>
                    <img style="margin-top: 20px" src="/app/img/maritime_cloud.svg" height="180" />
                </p>

                <h1 style="margin-top: 30px; margin-bottom: 20px;">Maritime Cloud Management Portal</h1>
                <p>A tool for managing the <a href="http://developers.maritimecloud.net/" target="_blank">Maritime Cloud</a> Identity Registry.
                </p>
                <br/>
                <div ng-if="isLoggedIn">
                    <h3>Go to <a href="/"> Dashboard </a> </h3>
                </div>
                <div ng-if="!isLoggedIn">
                    <div class="btn-group">
                        <a class="btn btn-lg btn-primary" ng-click="login()" id="login">Log In</a>
                    </div>
                </div>
                <br/>
                <p><a href="#/join">Join</a> my organization to the Maritime Cloud.
                </p>
                <br/>
                <p><b>Disclaimer</b>: This is currently a developer alpha release and it should be expected to contain minor bugs.<BR/>Also there is no styling at this stage - only a simple display of the functionality of the MC Identity Registry.<BR/>
                If you encounter any bugs please create an Issue at the <a href="https://github.com/MaritimeCloud/MaritimeCloudPortalDemo/issues" target="_blank">GitHub project</a>
                </p>
            </div>
        </div>
    </div>
</div>
