<div class="container-fluid">

    <div class="row">

        <!--<hr class="soften">-->
        <div class="vertical-center">

            <!-- Primary marketing message -->
            <div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-sm-12" style="text-align: center">

                <p>
                    <img src="/app/img/servicereg_152.png" />
                </p>

                <h1 style="margin-top: 30px; margin-bottom: 20px;">Maritime Cloud Management Portal</h1>
                <p>A tool for managing the <a href="http://maritimecloud.net/" target="_blank">Maritime Cloud</a> elements - Identity Registry and Service Registry.
                </p>
                <br/>
                <div ng-if="isLoggedIn">
                    <h3>Go to <a href="#/dashboard"> Dashboard </a> </h3>
                </div>
                <div ng-if="!isLoggedIn">
                    <div class="btn-group">
                        <a class="btn btn-lg btn-primary" ng-click="login()" id="login">Log In</a>
                    </div>
                </div>
                <br/>
                <p><a href="#/join">Join</a> my organization to the Maritime Cloud.
                </p>
            </div>
        </div>
    </div>
</div>
