<div class="container-fluid">

    <div class="row">

        <!--<hr class="soften">-->
        <div class="vertical-center">

            <!-- Primary marketing message -->
            <div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 col-sm-12" style="text-align: center">

                <p>
                    <img src="/app/img/servicereg_152.png" />
                </p>

                <h1 style="margin-top: 30px; margin-bottom: 20px;">Maritime Cloud Service Registry</h1>
                <p>The Maritime Service Portfolio Registry is a centralized registry that contains service specifications according to a
                    <a href="https://dma-enav.atlassian.net/wiki/display/MCCT/Maritime+Service+Portfolio+Registry" target="_blank">Service Specification Standard</a>
                    and provisioned service instances implemented according to a service specification.</p>
                <br/>
                <div ng-if="currentUser">
                    <h3>Go to <a href="#/dashboard"> Dashboard </a> </h3>
                </div>
                <div ng-if="!currentUser">
                    <div class="btn-group">
                        <a class="btn btn-large btn-primary" href="#/dashboard" id="login">Log In or Join</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
