<div class="row" cg-busy="busyPromise">
    <div class="col-lg-6">
        <h1>
            {{organization.name}}
            <img ng-if="organization.organizationId" ng-src="/rest/api/org/{{organization.organizationId}}/logo" class="pull-right" width="200"/>
        </h1>
        <i class="help-block">
            <label>Organization ID:</label> {{organization.organizationId}} <br/>
        </i>
        <!--MESSAGES-->
        <div ng-show="alertMessages" class="alert alert-danger">
            <span ng-repeat="msg in alertMessages">{{msg}}<br /></span>
        </div>
        <div ng-show="message" class="alert alert-info">{{message}}</div>
        <hr>
        <!--FORMS-->
        <form role="form" name="form">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" required class="form-control" id="name" name="name" placeholder="Enter the organization name" ng-model="organization.name"
                       autocomplete='off' spellcheck='false'>
                <p class="help-block">The name is used as the human readable representation of the organization.</p>
            </div>
            <div class="form-group">
                <label for="orgSummary">Summary</label>
                <textarea class="form-control" id="orgSummary" name="orgSummary" rows="3" placeholder="Enter a short description of the organization" ng-model="organization.summary"></textarea>
                <p class="help-block">The summary is usually presented together with the name and should capture the essence of the organization in a few words.</p>
            </div>
            <div class="form-group">
                <label for="url">Website URL</label>
                <input type="text" class="form-control" id="url" name="url" placeholder="Enter a URL" ng-model="organization.url"
                       autocomplete='off' spellcheck='false'>
                <p class="help-block">The Organization website.</p>
            </div>
            <div class="form-group">
                <label for="country">Country</label>
                <select class='form-control input-sm' id='country'
                        ng-model="organization.country"
                        ng-options="country.code.toLowerCase() as country.name for country in countries">
                    <option value="">None</option>
                </select>
            </div>
            <div class="form-group">
                <label for="orgLogo">New Logo</label>
                <input type="file" id="orgLogo" name="orgLogo">
                <p class="help-block">Organization logo that will be used to enhance visual recognition.</p>
            </div>
            <div>
                <button type="submit" class="btn btn-success center" ng-disabled="form.$pristine || form.$invalid" ng-click="submit()">Update</button>
                <button class="btn btn-grey center" ui-sref='restricted.organizationDetails({organizationId: organization.organizationId})'>Close</button>
            </div>
        </form>
    </div>
</div>