
<div class="org-header">
    <h1>
        <span>{{organization.shortName}}</span>
        <a ng-if="isAdmin()" class="edit-org" href="#/orgs/{{organization.shortName}}/edit" data-tooltip="Edit {{organization.name}}" data-tooltip-placement="right">
            <span class="fa fa-gear"></span>
        </a>
        <img ng-src="{{organization.logo}}" class="pull-right" width="200"/>
    </h1>
    <p class="org-description">{{organization.name}}</p>
    <ul class="org-header-meta">
        <li class="meta-item">
            <span class="fa fa-globe"></span>
            <a target="_blank" href="{{organization.url}}">{{organization.url}}</a>
        </li>
    </ul>
</div>
<hr>
<div class="table-responsive">
    <table class="table-condensed">
        <tr> <td class="text-right">Address : </td> <td>{{organization.address}} </td> </tr>
        <tr> <td class="text-right">Country : </td> <td>{{organization.country}} </td> </tr>
        <tr> <td class="text-right">Email : </td> <td><div ng-if="organization.email"><a href="mailto:{{organization.email}}" target="_blank">{{organization.email}}</a></div></td> </tr>
    </table>
    <hr ng-if="isAdmin()">
    <ul ng-if="isAdmin()"  class="nav nav-list" >
        <li><a ui-sref="restricted.devices"><i class="fa fa-laptop" style=""></i>&nbsp;&nbsp;Devices </a></li>
        <li><a ui-sref="restricted.users"><i class="fa fa-users" style=""></i>&nbsp;&nbsp;Users </a></li>
        <li><a ui-sref="restricted.vessels"><i class="fa fa-ship" style=""></i>&nbsp;&nbsp;Vessels </a></li>
    </ul>
</div>

