
<div class="org-header">
    <h1>
        <span>{{organization.shortName}}</span>
        <a ng-if="isAdmin()" class="edit-org" href="#/orgs/{{organization.shortName}}/edit" data-tooltip="Edit {{organization.name}}" data-tooltip-placement="right">
            <span class="fa fa-gear"></span>
        </a>
        <img ng-src="{{organization.logo}}" class="pull-right" width="200"/>
    </h1>
    <p class="org-description">{{organization.name}}</p>
    <ul class="org-header-meta">
        <li class="meta-item">
            <span class="fa fa-globe"></span>
            <a target="_blank" href="{{organization.url}}">{{organization.url}}</a>
        </li>
    </ul>
</div>
<hr>
<div class="table-responsive">
    <table class="table-condensed">
        <tr> <td class="text-right">Address : </td> <td>{{organization.address}} </td> </tr>
        <tr> <td class="text-right">Country : </td> <td>{{organization.country}} </td> </tr>
        <tr> <td class="text-right">Email : </td> <td><div ng-if="organization.email"><a href="mailto:{{organization.email}}" target="_blank">{{organization.email}}</a></div></td> </tr>
    </table>
    
<hr>

        

    <h3>Certificates for {{organization.shortName}} <a ng-if="isAdmin()" class="btn btn-primary btn-sm" href="#/certificates/generate/org/{{organization.shortName}}">+ New certificate</a></h3>
    <div>
        <div ng-if="!organization.certificates.length">
            <i>No active certificates</i>
        </div>
        <table ng-if="organization.certificates.length" class="table">
            <thead>
                <tr>
                    <th class="col-xs-4">Certificate</th>
                    <th class="col-xs-2">Valid from</th>
                    <th class="col-xs-2">Valid to</th>
                    <th class="col-xs-4"> </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="certificate in organization.certificates">
                    <td class="vcenter">        
    	                <span>Certificate for {{organization.name}}</span>
                    </td>
                    <td class="vcenter"><span>{{certificate.start | date:dateFormat}}</span></td>
                    <td class="vcenter">{{certificate.end | date:dateFormat}}</td>   
                    <td class="vcenter text-right no-right-padding">
                        <a class="btn btn-primary btn-sm" ng-click="zipAndDownloadCertificate(certificate)">Download certificate</a>
                        <a ng-if="isAdmin()" class="btn btn-danger btn-sm" href="#/certificates/{{certificate.id}}/revoke/org/{{organization.shortName}}">Revoke certificate</a>
                    </td> 
                </tr>
            </tbody>
        </table>
    </div>
</div>

