<div class="row" cg-busy="busyPromise">
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
        <h1>Edit service</h1>
        <i class="help-block">
            <label>MRN: </label> {{service.mrn}} <br/>
        </i>
        <!--MESSAGES-->
        <div ng-show="alertMessages" class="alert alert-danger">
            <span ng-repeat="msg in alertMessages">{{msg}}<br /></span>
        </div>
        <div ng-show="message" class="alert alert-info">{{message}}</div>
        <hr>
        
        <!--FORMS-->
        <form role="form" name="form">
            <div class="form-group" ng-class="{ 'has-error' : form.name.$invalid && !form.name.$pristine }">
                <label for="firstname" class="control-label">Name</label>
                <input type="text" required class="form-control" id="name" name="name" placeholder="Enter the name" ng-model="service.name"
                       autocomplete='off' spellcheck='false'>
                <p ng-show="form.name.$invalid && !form.name.$pristine" class="help-block">Name is required.</p>
            </div>            
            
            <div class="form-group" ng-class="{ 'has-error' : form.cert.$invalid && !form.cert.$pristine }">
                <label for="cert" class="control-label">Certificate domain name</label>
                <input type="text" required class="form-control" id="cert" name="cert" placeholder="Enter the certificate domain name" ng-model="service.certDomainName"
                       autocomplete='off' spellcheck='false'>
                <p ng-show="form.cert.$invalid && !form.cert.$pristine" class="help-block">Certificate domain name is required.</p>
            </div>
            
            <div class="form-group">
                <label for="redirecturi" class="control-label">OIDC Redirect URI</label>
                <input type="text"  class="form-control" id="redirecturi" name="redirecturi" placeholder="Enter OICD redirect URI" ng-model="service.oidcRedirectUri"
                       autocomplete='off' spellcheck='false'>
                
            </div>
                        
            
            <div class="form-group">
                <select name="type" ng-change="updateAccessType(accessType)" default-option="Choose access type..." class="form-control" ng-options="accessType as accessType.accessTypeText for accessType in accessTypes track by accessType.accessTypeId" ng-model="accessType"></select>
            </div>
            
            <div>
                <button type="submit" class="btn btn-success" ng-disabled="form.$invalid" ng-click="submit()">Update</button>
                <button class="btn btn-default" ui-sref='restricted.service-identityDetails({mrn: service.mrn})'>Cancel</button>
            </div> 
        </form> 
    </div>
</div>